@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .text-balance{
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes gradient-xy {
  0%, 100%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
}

.animate-gradient-xy{
  animation: gradient-xy 5s ease infinite;
  background-size: 200% 200%;
}